<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jalgpall.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jalgpall</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jalgpall</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ao77mqnlxb.database.windows.net,1433;Initial Catalog=jalgpalATHMazFTG;User ID=jackyinf@ao77mqnlxb;Password=3k86a3Jack" Name="Data Source=tcp:ao77mqnlxb.database.windows.net,1433;Initial Catalog=jalgpalATHMazFTG;User Id=jackyinf@ao77mqnlxb;Password=3k86a3Jack" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Uptime_Jalgpall.Models.ApplicationDbContext, Uptime_Jalgpall" MigrationConfiguration="Uptime_Jalgpall.Migrations.Configuration, Uptime_Jalgpall" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ao77mqnlxb.database.windows.net,1433;Initial Catalog=jalgpalATHMazFTG;User Id=jackyinf@ao77mqnlxb;Password=3k86a3Jack</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>